.cart-img{
    width: 120px;
    height: 150px;
}
.cart-view{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 0.5px rgba(0, 0, 0, 0.397);
    margin: 10px;
    margin-top: 25px;
    padding: 5px;
    transition: 0.5s;
    
}
.description{
    display: flex;
    justify-content: space-around;
}
.cart-view:hover{
    box-shadow: 0px 0px 10px whitesmoke;
}
.botones{
    display: flex;
    flex-direction: column;
    
}
.cart-title{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
}

h3{
    text-align: center;
}
.cart{
    position: fixed;
    line-height: 40px;
    top: 44px;
    right: 30px;
    z-index: 100;
}
.botonesFinales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }
  .totalCompra{
    background-color: whitesmoke;
    text-align: center;
    border: solid 0.5px rgba(0, 0, 0, 0.397);
    margin: 10px;
    margin-top: 25px;
    padding: 5px;
    
    font-size: 35px;
    
  }