.card{
    box-shadow: 10px 20px 10px rgba(53, 50, 50, 0.37);
    border-radius: 15px;
    margin-bottom: 45px;
    background-color: rgba(39, 209, 104, 0.349); 
    max-width: 250px; 
    max-height: 500px;
}
.card img{
    border-radius: 15px;
    max-width: 250px;
    max-height: 350px;
    padding: 20px;
}