.card-detail{
    box-shadow: 10px 20px 10px rgba(53, 50, 50, 0.37);
    border-radius: 15px;
    margin-bottom: 45px;
    background-color: rgba(248, 255, 248, 0.349); 
    width: 1000px; 
    height: 500px;
    text-align: center;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: 500px;
}
.card-carousel{
    max-width: 400px;
    max-height: 500px;
}
.card-detail img{
    border-radius: 20px;
    width: 400px;
    height: 500px;
    
    padding: 20px;
}
.card-detail Button{
    margin-bottom: 10px;
}
