.card{
    box-shadow: 10px 20px 10px rgba(53, 50, 50, 0.37);
    border-radius: 15px;
    margin-bottom: 45px;
    background-color: rgba(255, 253, 253, 0.952); 
    height: 500px;
    max-width: 250px; 
    max-height: 450px;
    
    
}
.card:hover{
    box-shadow: 0px 0px 10px whitesmoke;
}


.card img{
    border-radius: 15px;
    width: 250px;
    height: 350px;
}
.card h5{
        font-weight: bold;
        font-size: 25px;
       
}
.card h3{
    font-weight: lighter;
}