.card{
    box-shadow: 10px 20px 10px rgba(53, 50, 50, 0.37);
    border-radius: 15px;
    margin-bottom: 45px;
    background-color: rgba(255, 253, 253, 0.952); 
    height: 500px;
    max-width: 250px; 
    max-height: 500px;
    
    
}


.card img{
    border-radius: 15px;
    width: 250px;
    height: 350px;
}