*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  
  
}
html{ 
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.9136029411764706) 60%);
}
.App{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.9136029411764706) 60%);
  
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
